::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
    height: 0;
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.logo {
    width: 180px;
    margin-left: -18px;
}

.container {
    width: 100vw;
    margin-left: 30px;
}

h2 {
    font-size: 20px;
    color: white;
    margin-top: 40px;
}

.container div div {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.container div div img {
    width: calc(100% / 6.5);
}
